/*
* @Author: hanjiyun
* @Date:   2018-10-26 16:40:54
* @Last Modified by:   hanjiyun
* @Last Modified time: 2018-10-27 15:38:40
*/

body {
  padding: 0;
  background: #061121;
}

.container {
  background: #061121 url('./../img/night-bg.jpg') center top no-repeat;
  background-size: contain;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, .4);
}

a {
  outline: none;
}

a:focus {
  outline: none;
}

.preview {
  margin: 0 -100px 60px -100px;
  padding-top: 100px;
}

.preview a {
  opacity: .94;
}

section #title {
  padding-top: 20px;
}

section #title p {
  padding: 20px 0 10px;
  border-bottom: 3px double rgba(255, 255, 255, .1);
}

section #title h1 a {
  position: relative;
  font-size: 13px;
  display: inline-block;
  margin-left: 10px;
  top: -8px;
  padding: 6px 7px;
  line-height: 1;
  background: green;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

section #title h1 a:hover {
  background: #006b14;
}

section #title .credits {
  color: #6f8cad;
  padding-right: 10px;
}

.credits-wrapper span.credits:nth-child(2) {
  padding-right: 0 !important;
}

section {
  margin-top: 0;
}

ul.screenshot-list {
  margin: 0;
  padding: 0;
}

.screenshot-list li {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.screenshot-list li a {
  display: block;
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}

.screenshot-list li a:hover {
  cursor: zoom-in;
}

.screenshot-list li img {
  width: 100%;
  display: block;
}

.screenshot-title {
  padding: 20px 0;
  text-align: center;
}

.fuck-btn {
  background: green;
  padding: 10px;
  line-height: 1;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.fuck-btn:hover {
  background-color: #006b14;
  color: #fff;
}


h3 {
  position: relative;
  height: 35px;
  overflow: hidden;
  line-height: 35px;
}

h3 span {
  display: inline-block;
}

h3 .fuck-btn {
  position: absolute;
  right: 0;
  top: 0;
}

#footer {
  height: 160px;
  width: 100%;
  background: #111;
  background-size: contain;
  border-top: 4px solid #10223c;
}

#footer nav {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 10px;
  margin: 6px auto;
}

#footer nav li {
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  line-height: 50px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  font-size: 14px;
}



#footer nav li.fork {
  float: left;
  margin-left: 0;
}

#footer nav li.downloads,
#footer nav li.maintainer {
  float: right;
  margin-left: 6px;
}

#footer nav li.title {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}

@media print, screen and (max-width: 480px) {

  .preview {
    padding-top: 20px;
  }
  nav {
      display: block;
  }
}
